# ~/.aws/credentials을 아래와 같이 수정합니다.
# 개인용 AWS
[default]
aws_access_key_id=ACCESS_KEY
aws_secret_access_key=SECRET_KEY

# seb40_main_000_server용 AWS access key
[seb40_main_000_server]
aws_access_key_id=ACCESS_KEY
aws_secret_access_key=SECRET_KEY
